<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>254457203046-pcb5o170f0q7qca879etf33uavs5gti5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.254457203046-pcb5o170f0q7qca879etf33uavs5gti5</string>
	<key>API_KEY</key>
	<string>AIzaSyB9ZdjE6nOnji3ZIty3_AkIDbQ7h-dYOi4</string>
	<key>GCM_SENDER_ID</key>
	<string>254457203046</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.igorodaryuk.ToDOiOS</string>
	<key>PROJECT_ID</key>
	<string>swiftuitodolist-a7612</string>
	<key>STORAGE_BUCKET</key>
	<string>swiftuitodolist-a7612.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:254457203046:ios:bd07b48239607cb59e20a7</string>
</dict>
</plist>